<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include partials/head.ejs %>
  </head>
  <body>
    <% for(var i =0 ; i < movies.length; i++){ %>
    <img src ="/images/<%= movies[i].poster %>" class="img-responsive">
    <% } %>
    <% include partials/scripts.ejs %>
  </body>
</html>